body {
	font-family: Helvetica, bold, sans-serif;
}

.topLine{
	display: flex;
	justify-content: space-evenly;
}


.navBar{
	list-style: none;
	font-style: bold;

}

a:link{
	color: black;
	text-decoration:none;
}
